{{template "base" .}}

{{define "content"}}
<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="mt-3">Contact Us</h1>
			<hr>

			<div class="row">
				<div class="col-md-6">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7849.972322425958!2d107.08914406544005!3d10.342991269158665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31756f0bb050540b%3A0x9aa1c10ffcdab958!2sOSC%20Land!5e0!3m2!1svi!2s!4v1648560104599!5m2!1svi!2s"
						width="800" height="800" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
			
				</div>

				<div class="col-md-6 text-center">
					<strong>OSC Land</strong><br>
					110 Vo Thi Sau St, Thang Tam Ward, <br>
					Vung Tau city, <br>
					Ba Ria - Vung Tau province. <br>
					0989xxxxxx<br>
					<a href="mailto:tranquoctoan.ce@gmail.com">tranquoctoan.ce@gmail.com</a>
				
				</div>
			</div>

		</div>
	</div>
</div>
{{end}}