{{template "base" .}} {{define "content"}}
<div class="container">
	<div class="row">
		<div class="col">
			<h1>Make reservation</h1>

			{{$res := index .Data "reservation"}}
			<!-- add class needs-validation later -->
			<form action="/make-reservation" method="post" novalidate class="">
				<input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />

				<div class="form-group mt-5">
					<label for="first_name">First name:</label>

					<!-- Run forms.Form.Errors.Get("first_name") and display to label tag . -->
					{{with .Form.Errors.Get "first_name"}}
					<label class="text-danger">{{.}}</label>
					{{end}}

					<!-- Run forms.Form.Errors.Get("first_name") and turn red the box -->
					<input class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}"
					type="text" s name="first_name" id="first_name" required
					autocomplete="off" value="{{$res.FirstName}}"/>
				</div>

				<div class="form-group mt-5">
					<label for="last_name">Last name:</label>

					{{with .Form.Errors.Get "last_name"}}
					<label class="text-danger">{{.}}</label>
					{{end}}

					<input
						type="text"
						name="last_name"
						id="last_name"
						required
						autocomplete="off"
						value="{{$res.LastName}}"
						class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}"
					/>
				</div>

				<div class="form-group mt-5">
					<label for="email">Email:</label>

					{{with .Form.Errors.Get "email"}}
					<label class="text-danger">{{.}}</label>
					{{end}}

					<input
						type="email"
						name="email"
						id="email"
						required
						autocomplete="off"
						value="{{$res.Email}}"
						class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}"
					/>
				</div>

				<div class="form-group mt-5">
					<label for="phone">Phone number:</label>
					<small> <pre>  Example: 0989xxxxxx, +84989xxxxxx, (+84)989xxxxxx</pre></small>

					{{with .Form.Errors.Get "phone"}}
					<label class="text-danger">{{.}}</label>
					{{end}}

					<input
						type="text"
						name="phone"
						id="phone"
						required
						autocomplete="off"
						value="{{$res.Phone}}"
						class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}"
					/>
				</div>

				<hr />

				<input type="submit" value="Make Reservation" class="btn btn-primary" />
			</form>
		</div>
	</div>
</div>
{{end}}
